{% extends "CodasciiTutoBundle::layout.html.twig" %}

{% block title %} Tutoriels &middot; {{ language|upper }}{% endblock %}

{% block titre %}
    {{ parent() }} : {{ language|upper }}
{% endblock %}

{% block body_tutoriels %}
	<div class="row">
		
	</div>
{% endblock %}

{% block right_block %}
    <div class="panel panel-info">
    	<div class="panel-heading"><h3 class="panel-title">Tous les tutoriels {{ language }}</h3></div>
    	<div class="panel-body">
    	{% for tutoriel in tutoriels %}
    	    <p><a href="{{ path('codascii_tuto', {'language': language, 'number': tutoriel.number, 'slug': tutoriel.getSlug }) }}">{{ "#" ~ tutoriel.number ~ " - " ~ tutoriel.title }}</a></p>
    	{% endfor %}
    	</div>
    </div>
{% endblock %}