<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="application-name" content="Codascii"/>
        <meta name="theme-color" content="#55D00">
        <meta name="description" content="Venez découvrir ou approfondir vos connaissance en terme de développement. Des tutos sont postés chaque semaines pour vous.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <title>{% block title %}Codascii{% endblock %}</title>
        {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/codascii.css') }}">
        {% endblock %}
    </head>
    <body>
        <header class="container-fluid nav navbar-inverse">
            <nav class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 hidden-sm">
                        <a href="{{ path('codascii_homepage') }}" title="Aller à la page d'accueil">
                            <img src="{{ asset('logo.png') }}" id="logo" alt="Logo Codascii" class="img-responsive hidden-xs">
                            <img src="{{ asset('logo-xs.png') }}" id="logo-xs" alt="Logo Codascii" class="visible-xs">
                        </a>
                    </div>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-lg-6 col-lg-offset-4 col-md-7 col-md-offset-3 col-sm-9 col-xs12 collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav">
                            <li class="visible-sm"><a href="javascript:void(0)" id="search"><span class="glyphicon glyphicon-search"></span></a></li>
                            <li><a href="{{ path('codascii_homepage') }}">ACCUEIL</a></li>
                            <li><a href="{{ path('codascii_login') }}">CONNEXION</a></li>
                            <li><a href="{{ path('codascii_register') }}">INSCRIPTION</a></li>
                            <li><a href="{{ path('codascii_contact') }}">CONTACT</a></li>
                            <li class="hidden-sm"><a href="javascript:void(0)" id="search"><span class="glyphicon glyphicon-search"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div id="header-next" class="container-fluid">
            <div class="container">
                <ul class="breadcrumb">
                <span>VOUS ÊTES ICI : </span>
                {% block breadcrumb %}
                    <li><a href="{{ path('codascii_homepage') }}"><span class="glyphicon glyphicon-home"></span>&nbsp; Accueil</a></li>
                {% endblock %}
                </ul>
                <!-- <form method="get" action="{{ path('codascii_search') }}" class="pull-right">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="search" name="q" placeholder="Recherche" />
                </form> -->
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="container-fluid">
            {% block body %}
            {% endblock %}
        </div>
        <!-- <footer class="container-fluid">
            <div class="container">
                <div class="row">
                    <ul class="col-lg-3">
                        <li>Codascii</li>
                        <li>Qui sommes nous</li>
                    </ul>
                    <ul class="col-lg-3"><li>1234567890</li></ul>
                    <ul class="col-lg-3"><li>1234567890</li></ul>
                    <ul class="col-lg-3"><li>1234567890</li></ul>
                </div>
            </div>
        </footer> -->
        {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>